<header>
    <h1>Proprietary Firms</h1>
</header>
&nbsp;
<table>
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Plans Available</th>
            <th>Cost Range</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>DNA Funded</td>
            <td>Single Helix, Double Helix, Rapid</td>
            <td>$49 – $299</td>
            <td><a href="https://www.dnafunded.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>BrightFunded</td>
            <td>One-Step Challenge</td>
            <td>$89 – $249</td>
            <td><a href="https://www.brightfunded.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>FXIFY</td>
            <td>Standard, Rapid, Instant Funding</td>
            <td>$99 – $499</td>
            <td><a href="https://www.fxify.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>Blueberry Funded</td>
            <td>Scaling Plans</td>
            <td>$79 – $399</td>
            <td><a href="https://www.blueberrymarkets.com/funded" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>Funded Prime</td>
            <td>Meme Coin Challenge</td>
            <td>$59 – $199</td>
            <td><a href="https://www.fundedprime.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>FundedNext Futures</td>
            <td>24-Hour Payout Challenge</td>
            <td>$99 – $299</td>
            <td><a href="https://www.fundednext.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>Funded Trading Plus</td>
            <td>Instant Funding</td>
            <td>$89 – $349</td>
            <td><a href="https://www.fundedtradingplus.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>Topstep</td>
            <td>Futures Trading Challenge</td>
            <td>$165 – $375</td>
            <td><a href="https://www.topstep.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>City Traders Imperium</td>
            <td>High Profit Share Plans</td>
            <td>$109 – $499</td>
            <td><a href="https://www.citytradersimperium.com" target="_blank">Visit Site</a></td>
        </tr>
        <tr>
            <td>The Funded Trader</td>
            <td>Social Trading Challenge</td>
            <td>$89 – $299</td>
            <td><a href="https://www.thefundedtraderprogram.com" target="_blank">Visit Site</a></td>
        </tr>
    </tbody>
</table>