<!-- <div class="container">
    <label>Select Calculator {{calculatorType}}</label>
    <select (change)="changeCalculatorType($event.target)">
        <option value="futures">Futures</option>
        <option value="forex">Forex</option>
    </select>
    <div [style.display]="calculatorType === 'futures' ? 'block' : 'none'">
        <app-futures-calculator-component></app-futures-calculator-component>
    </div>
    <div [style.display]="calculatorType === 'forex' ? 'block' : 'none'">
        <app-forex-calculator-component></app-forex-calculator-component>
    </div>
</div> -->
<ul style="list-style: none;padding:0;margin:0;">
    <li>Fix Futures Position Size Calculator</li>
    <li>Profit Calculators</li>
    <li>Add images to cards on home page</li>
    <li>Change banner image</li>
    <li>Add more video links</li>
    <li>Create store for digial products and affiliates</li>
</ul>