<ul style="list-style: none;padding:0;margin:0;">
    <li>Fix Futures Position Size Calculator</li>
    <li>Profit Calculators</li>
    <li>Add images to chart page</li>
    <li>Add more video links</li>
    <li>pages: gift shop?, prop firms</li>
    <li>Verify accessibility</li>
    <li>Verify consistent layout</li>
    <li>Add Affiliate Links</li>
    <li>Add Google AdSense</li>
    <li>Fix buttons on broker list page</li>
</ul>

<!-- 
https://www.futurespositionsizecalculator.com/#calculator 
 https://futures.stonex.com/futures-calculator
https://www.myfxbook.com/forex-calculators/profit-calculator
https://www.investing.com/tools/calculators
-->