.broker-name {
    font-weight: bold;
    color: #023047;
}

.note {
    font-size: 0.9rem;
    color: #666;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #e0f7fa;
    font-size: 0.9rem;
}

.broker-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.link-button {
    /* background-color: #00b4d8;
    color: white; */
    background-color: #023047;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.link-button:hover {
    background-color: #0077b6;
}

img {
    display: none;
}

td:first-child {
    display:none;
}
th:first-child {
    display: none;
}