<header>
    <h1>Retail Trader Hub</h1>
    <p>Your gateway to smarter trading</p>  
    <!-- <img style="position:absolute;top:10px;left:10px;" src="/assets/images/bannerSideImage.png" height="125">   -->
    <!-- <div class="nav-links">
      <a href="">Home</a>
      <a href="technical-analysis">Technical Analysis</a>
      <a href="fundamental-analysis">Fundamental Analysis</a>
      <a href="most-traded">Most Traded Instruments</a>
      <a href="build-a-trading-plan">Trading Plan</a>
      <a href="top-five-mistakes">Top 5 Mistakes</a>
      <a href="trading-journals">Trading Journals</a>
      <a href="technical-indicators">Technical Indicators</a>
      <a href="glossary">Glossary</a>
    </div> -->

</header>