<header>
    <h1>Retail Trader Hub</h1>
    <p>Your gateway to smarter trading</p>    
    <div class="nav-links">
      <a href="">Home</a>
      <!-- <a href="education">Education</a>
      <a href="insights">Market Insights</a>
      <a href="tools">Trading Tools</a>
      <a href="profile">Profile</a>
      <a href="contact">Contact Us</a>
      <a href="about">About</a> -->
      <a href="technical-analysis">Technical Analysis</a>
      <a href="fundamental-analysis">Fundamental Analysis</a>
      <a href="most-traded">Most Traded Instruments</a>
      <a href="build-a-trading-plan">Trading Plan</a>
      <a href="top-five-mistakes">Top 5 Mistakes</a>
      <a href="trading-journals">Trading Journals</a>
      <a href="technical-indicators">Technical Indicators</a>
      <a href="glossary">Glossary</a>
      <a href="test">Test</a>
    </div>

</header>