.container {
    display: flex;
    flex-direction: row;
    gap: 14px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column {
    width: 48%;
    background-color: white;
    padding: 20px;
}

h2 {
    margin-top: 0;
    color: #2c3e50;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select,
input {
    width: 55%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: #2c3e50;
}
input[type=number] {
  width: 50%;
}
input[type=text] {
  width: 50%;
}