<aside class="sidebar">
  <nav class="vertical-nav">
    <details open>
      <summary><span class="icon">💵</span> Currency Trading</summary>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="forex-getting-started">Getting Started</a></li>
        <li><a href="forex-pairs">Currency Pairs</a></li>
        <li><a href="forex-market-works">How the Market Works</a></li>
        <li><a href="key-concepts">Key Concepts</a></li>
        <li><a href="risk-management">Risk Management</a></li>
        <li><a href="top-five-mistakes">Mistakes To Avoid</a></li>
        <li><a href="trading-psychology">Trading Psychology</a></li>
      </ul>
    </details>

    <details open>
      <summary><span class="icon">🛠️</span> Tools</summary>
      <ul>
        <li><a href="forex-trading-software">Trading Software</a></li>
        <li><a href="chart-types">Chart Types</a></li>
        <li><a href="forex-trading-indicators">Chart Indicators</a></li>
        <li><a href="trading-journals">Trading Journals</a></li>
        <li><a href="forex-education-resources">Education Resources</a></li>
        <!-- <li><a href="forex-gift-shop">Gift Shop</a></li> -->
      </ul>
    </details>

    <details open>
      <summary><span class="icon">🏦</span> Brokers and Accounts</summary>
      <ul>
        <li><a href="forex-choose-broker">How to Choose a Broker</a></li>
        <li><a href="top-forex-brokers">Top 20 US Brokers</a></li>
        <li><a href="forex-prop-firms">Proprietary Firms</a></li>
      </ul>
    </details>
  </nav>
</aside>