h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #2c3e50;
    color: white;
}

tr td:first-child {
    width: 5%;
}

tr td:nth-child(2) {
    width: 20%;
}

tr td:nth-child(3) {
    width: 5%;
}

tr td:nth-child(4) {
    width: 50%;
}

tr td:nth-child(5) {
    width: 10%;
}


tr td:nth-child(7) {
    width: 10%;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}