.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.main {
    flex: 0 0 70%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 0 0 20%;
    background-color: #eaeaea;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {

    .main,
    .sidebar {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}