


section {
  margin-bottom: 2rem;
}

h2 {
  color: #2c3e50;
}

ul, ol {
  padding-left: 1.5rem;
}

ul li {
    line-height: 1.7em;
}

ol li {
    line-height: 1.7em;
}

p {
    line-height: 1.7em;
}