/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url('/assets/images/bannerImagePattern.png');
    background-repeat: repeat; 
}
.page-header {
    background-color: #1A285E;
    color: white;
    padding: 1.5rem;
    text-align: center;

}

.page-header h1 {
    margin: 0;
    font-size: 2rem;

}

.container {
    background-color: white;
}
.content {
    margin: 2rem auto;
    padding: 0 1rem;
}
p {
    line-height: 1.7em;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app-layout {
        display: block;
    }
    .sidebar {
        display: none;
    }}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .app-layout {
        display:grid;grid-template-columns: 25fr 75fr;padding:10px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .app-layout {
        display:grid;grid-template-columns: 15fr 85fr;padding:10px
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .app-layout {
        display:grid;grid-template-columns: 15fr 85fr;padding:10px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .app-layout {
        display:grid;grid-template-columns: 15fr 85fr;padding:10px
    }
}