/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #1A285E;
    color: white;
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    background-color: white;
}
.content {
    margin: 2rem auto;
    padding: 0 1rem;
}
p {
    line-height: 1.7em;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
}
